lid.176.bin
database/*.sqlite
dumps/*bz2.*
dumps/*bz2
cfw/__pycache__/
cfw/commands/__pycache__/
cfw/utils/__pycache__/
.vscode/settings.json
cfw/commands/old_align.py
*-info
*.sh
*.bin
*.out
cleaning.py
logs/